body{
    text-align: center;
}

.btn{
    height: 100px;
    width: 100px;
    border-radius: 20%;
    border:10px solid black ;
    margin: 1rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color: #f99b45;
}
.red{
    background-color: #ad2951;
}
.purple{
    background-color:#392c78 ;
}
.green{
    background-color:#16ba75 ;
}
.flash{
    background-color: rgb(224, 215, 221);
}
.userflash{
    background-color: rgb(78, 6, 97);
}